#s1 {
    padding-left: 1%;
    padding-top: 10%;
    position: absolute;
    transform: scale(-1.5);
}
#s2 {
    padding-left: 10%;
    padding-top: 5%;
    position: absolute;
}

#s3 {
    padding-left: 27%;
    padding-top: 6%;
    position: absolute;
}

#s4 {
    padding-left: 35%;
    padding-top: 15%;
    position: absolute;
}

#f1 {
    top: 0vw;
    left: 0vw;
    z-index: 10;
    width: 100%;
    height: 100%;
    position:fixed;
}

#f2 {
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 0;
    opacity: 0;



}

#g {
    left: 35%;
    top: 38%;
    position: absolute;
}

#sign1 {
    padding-left: 10%;
    padding-top: 27%;
    opacity: 0;
    position: absolute;
}

#sign2 {
    padding-left: 83%;
    padding-top: 25%;
    opacity: 0;
    position: absolute;
}
